@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin:0px;
    padding:0px;

}

html,body
{
    width:100vw;
    height:100vh;
    box-sizing:border-box;
}

.servicesofc {
  text-align: center;
  padding: 50px 20px;
  background: #fff;
}

.servicesofc h2 {
  color: #6c7ae0;
  font-size: 2em;
  margin-bottom: 40px;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 100px;
 
}

.service-card {
  background-color:#F6D5EA;
  border-radius: 10px;
  padding: 18px;
  width: 255px;
  height:257px;
  text-align: left;
}

.service-image {
  background: #6c7ae0;
  height: 50px;
  width:50px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.service-card h3 {
  color: #6c7ae0;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service-card p {
  color: #555;

}

.about_problem{
    margin-top:0rem;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
  }
  .about_problem_side{
    height:30rem;
    padding-top:9rem;
    background-color:white;
  }
  
  .about_problem_container1{
    float: left;
    width: 35%;
    height: 60rem;
   
    
  }

  .about_problem_container2{
    float: left;
    width: 50%;
    right:30rem;
    height: 50rem;
    background-color:white;
    
  }


  #container2{
    padding-left:0px;
  }
  
  .opportunities{
    padding-left: 10rem;
    color: #8667D1;
    font-size:40px;
    padding-top:3rem;
  
  }
  
  
  .opportunities2{
    padding-left: 10rem;
    font-size:55px;
    color:#383737;
  
  }

  .opportunities3{
    padding-left: 10rem;
    font-size:20px;
    color:#898989;
 
  
  }

  .button_opp{
    padding-left:10rem;
    padding-top:3rem;
  }
  

  #services2{
    width:60rem;
    padding-left:4rem;
    display:flex;
    gap:2rem;
    flex-wrap:wrap;
    background-color:white;

  }

  #edit{
    width:10rem;
    border-radius: 5px;
    color:#fff;
    background-color: #8667D1;
    padding-top:5rem;
  }
  
  .test{
    background-color:#fff;
    height:63rem;
    background-size: cover;
  }
  
  .element1{
    padding-top:5rem;
  }
  
  .cta-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-left:10rem;
    margin-top:3rem;
}



.test4 {
  text-align: center;
  padding: 100px 20px;
  background-color:#fff;
  background-image:url(degraderosa.jpg);
  height:45rem;
}

.test4 h1 {
  color: #6c7ae0;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.test4 p {
  color: #555;
  font-size: 1em;
  max-width: 800px;
  margin: 0 auto 30px;
}

.database-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  
}

.database-button:hover {
  background-color: #333;
}



.feature-section {
  padding: 50px 20px;
  background-color:#fff;
  height:30rem;
}

.feature-section h2 {
  color: #6c7ae0;
  font-size: 1.7em;
  margin-right:10rem;
  text-align: right;
}

.feature-section h3 {
  color: #333;
  font-size: 2.8rem;
  margin-bottom: 20px;
  margin-right:10rem;
  text-align: right;
}

.p1_initiative {
  color: #555;
  font-size: 1em;
  max-width:800px;
  float:right;
  margin-right:10rem;
  margin-left:48.7rem;
  margin-bottom:1rem;
  text-align: left;

}

.p2_initiative{
  margin-right:10rem;
  margin-left:48.7rem;
  text-align: left;
  color: #555;
 
}

.feature-section a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}






  